  .gallery.container h2{
    padding: 20px 0 0 10px;
    margin-bottom: 25px;
  }

  #gallery figure{
    display: inline-block;
    width: 275px;
    margin: 0 0;
    vertical-align: top;
    background-color: white;
    color: black;
    text-align: center;
    margin: 10px 20px 40px 20px;
    border-radius: 4px;
    border: 1px solid #333333;
    border-collapse: collapse;
  }

  #gallery figure img{
    width: 100%;
    background-color: white;
    margin: 10px 10px 10px 10px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid #888888;
  }

  #gallery figure figcaption{
    padding-bottom: 1em;
    font-family: cursive;
  }
